.container{
    display: inline-block;
    text-align: center;
    height: 100px;
    padding: 20px 0 0;
    background-image: linear-gradient(to right, #03258C, #0433BF);
    color: #ffff;
}

.header{
    
    font-size: 40px;
}

small{
    font-size: 15px;
}