<h1 *ngIf="!isChange" mat-dialog-title>Criar Cadastro</h1>
<h1 *ngIf="isChange" mat-dialog-title>Editar Cadastro</h1>
<div mat-dialog-content> 
  <mat-form-field>
    <mat-label>ID</mat-label>
    <input matInput [(ngModel)]="data.id">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Moldelo</mat-label>
    <input matInput [(ngModel)]="data.model">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Placa</mat-label>
    <input matInput [(ngModel)]="data.placa">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Ano</mat-label>
    <input matInput [(ngModel)]="data.ano">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button *ngIf="!isChange" [mat-dialog-close]="data" cdkFocusInitial>Criar</button>
  <button mat-button *ngIf="isChange" [mat-dialog-close]="data" cdkFocusInitial>Editar</button>
</div>
